@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
body{
	font-size: 15px;
	line-height: 1.5;
	box-sizing: border-box;
	margin: 0;
	overflow-x: hidden;
	top: 0;
	left: 0;
}

li {
	font-size: 20px;
	color: red;
}
.navbar{
	background: white;
	padding: 3rem 2rem;
	height: 0rem;
	min-height: 12vh;
}
a{
	text-decoration: none;
	color: rgba(34,54,69,.9);
	font-weight: 500;
}

a.hover{
	color: yellow;
}
.navbar .navbar-brand a{
	padding: 2rem 0;
	display: block;
	text-decoration: none;
}
.navbar-brand{
	font-family: 'Pacifico', cursive;
	font-size: 32px;
	font-color: green;
}
.navbar-expand-lg .navbar-nav .nav-link{
	padding: 2rem 1.2rem;
	font-size: 1.4rem;
	position: relative;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
	border-top: 3px; solid-color: red;
}
.navbar-expand-lg .navbar-nav .nav-link.active{
	border-top: 3px; solid-color: red;
	color: red;
}

.bg_img{
background-image: url("img/About US.jpg");
	height: 800px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

}
.columns
{

	height: 500px;
	margin-top: 20px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";

}

.col_1
{

	width: 350px;
	height: 400px;

	margin: 50px 0px 0px 100px;
	float: left;
	border-radius: 10px;
	background-color: white;
}

.col_2
{

	width:350px;
	height: 400px;

	margin: 50px 0px 0px 50px;
	background-color: white;
	float: left;
	border-radius: 10px;
}
.col_3
{

	width: 350px;
	height: 400px;

	margin: 50px 0px 0px 50px;
	float: left;
	background-color: white;
	border-radius: 10px;
}












